<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "SED" %></title>
    <meta name="description" content="">
    <meta name="author" content="">
    <%= stylesheet_link_tag "application", :media => "all" %>
    <%= javascript_include_tag "application" %>    
    <%= csrf_meta_tags %>
    <%= yield(:head) %>
    
  </head>
  <body>
    <nav>
        <%= link_to image_tag("home.png"), root_path, :class => 'brand' %>
                <%= render 'layouts/navigation' %>
      </nav>
   
    </header>
    <% flash.each do |name, msg| %>
      <%= content_tag :div, msg, :id => "flash_#{name}" %>
    <% end %>
    <br><br><br>
              <%= yield %>
    </body>
</html>